<div class="views-index">

  <p>Add a city to your bucklist</p>

  <form action="/cities" method="post">
    <label for="city-field">Name:</label>
    <input type="text" name="name" id="city-field" placeholder="Enter city"/>

    <label for="country-field">Select country:</label>
    <select name="country_id" id="country-field">
      <% @countries.each do |country| %>
      <option value=<%= country.id %>><%= country.name.capitalize %></option>
      <% end %>
    </select>

    <input type="submit" value="Add to list">
  </form>

  <h3>List of cities:</h3>

  <div class="flex-row">

    <% for city in @cities %>
      <div class="box-boder">
        <p> <%= city.name %> </p>
          <form action="/cities/<%= city.id %>/delete" method="post">
            <input class="btn btn--remove" type="submit" value="delete" />
          </form>
          <form action="/cities/<%= city.id %>" method="get">
            <input class="btn btn--edit" type='submit' value="edit">
          </form>
      </div>
    <% end %>
  </div>
</div>
